<tr class="form-group">
    <td class="item-0">
        <a class="btn btn-add icon ion-android-add" ng-show="searchItemIndex > 0 && searchItemIndex == searchItemTotal - 1" ng-click="addAction()"></a>
    </td>
    <td class="item-1">
        <span ng-show="searchItemIndex>0">
            <ui-select theme="selectize" ng-model="searchItem.logic" title="">
                <ui-select-match placeholder="">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="item.val as item in (config.dbType&&config.dbType=='mongo'?logicListMongo:logicList)">
                    <div bind-html-compile="item.title"></div>
                    <!-- <div>{{item.title}}</div> -->
                </ui-select-choices>
            </ui-select>
        </span>
        <a class="btn btn-add icon ion-android-add" style="float:right" ng-show="searchItemIndex == 0 && searchItemIndex == searchItemTotal - 1"
            ng-click="addAction()"></a>
    </td>
    <td class="item-2">
        <ui-select theme="selectize" ng-model="searchItem.attr" title="输入要搜索的字段" on-select="fnSelect($item, $model)">
            <ui-select-match placeholder="输入要搜索的字段">{{$select.selected.name || $select.selected}}</ui-select-match>
            <ui-select-choices repeat="item in queryAttrList  track by $index" refresh="searchKeyword($select.search)" refresh-delay="0">
                <div bind-html-compile="item.name | highlight: $select.search"></div>
                <small bind-html-compile="item.remark"></small>
            </ui-select-choices>
        </ui-select>
    </td>
    <td class="item-3">
        <ui-select theme="selectize" ng-model="searchItem.operation" title="">
            <ui-select-match placeholder="">{{$select.selected.title}}</ui-select-match>
            <ui-select-choices repeat="item.val as item in (config.dbType&&config.dbType=='mongo'?operationListMongo:operationList)">
                <div>{{item.title}}</div>
            </ui-select-choices>
        </ui-select>
    </td>
    <td class="item-4">
        <input ng-show="searchItem.attr && !searchItem.attr.type && (!searchItem.attr.items || searchItem.attr.items.length == 0)" ng-model="searchItem.keyword" type="text" style="height:30px;padding-bottom:2px;" />
        <div ng-show="searchItem.attr && searchItem.attr.type && (searchItem.attr.type == 'date' || searchItem.attr.type == 'timestamp')" class="has-feedback">
            <input class='form-control' ng-click="startDateOpened=true" is-open="startDateOpened" uib-datepicker-popup datepicker-options="dateOptions"
                ng-model="searchItem.keyword_date" ng-value="searchItem.keyword_date_value" placeholder="" type="text" style="height:30px;padding-bottom:2px;"
            />
            <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
        </div>
        <ui-select ng-show="searchItem.attr && !searchItem.attr.type && searchItem.attr.items && searchItem.attr.items.length > 0" theme="selectize" ng-model="searchItem.keyword" title="">
            <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="item.val as item in searchItem.attr.items">
                <div bind-html-compile="item.name"></div>
            </ui-select-choices>
        </ui-select>
        <input ng-show="searchItem.attr && searchItem.attr.type && searchItem.attr.type == 'number'" ng-model="searchItem.keyword_number" type="number" style="height:30px;padding-bottom:2px;"/>
    </td>
    <td class="item-5">
        <a class="text-red btn btn-add icon ion-android-remove" ng-show="searchItemTotal > 1" ng-click="deleteAction()"></a>
    </td>
</tr>