<tr class="form-group">
    <td class="item-0">
        <div class="searchProItem2">
            <a class="text-green btn icon ion-plus-round" ng-show="searchItemIndexPro > 0 && searchItemIndexPro == searchItemTotalPro - 1"
                ng-click="addAction()" style="box-shadow:1px 1px 5px #ccc;"></a>
        </div>
    </td>
    <td class="item-1">
        <div class="searchProItem2">
            <span ng-show="searchItemIndexPro>0">
                <ui-select theme="selectize" ng-model="searchItemPro.logic" title="">
                    <ui-select-match placeholder="">{{$select.selected.title}}</ui-select-match>
                    <ui-select-choices repeat="item.val as item in logicList">
                        <div ng-bind-html="item.title"></div>
                    </ui-select-choices>
                </ui-select>
            </span>
        </div>
        <a class="text-green btn icon ion-plus-round" style="float:right;box-shadow:1px 1px 5px #ccc;" ng-show="searchItemIndexPro == 0 && searchItemIndexPro == searchItemTotalPro - 1"
            ng-click="addAction()"></a>
    </td>
    <td>
        <div class="searchProItem">
            <table>
                <tr ng-repeat="item in searchItemPro.items" search-pro-item search-item="item" search-item-index="$index" search-item-total="searchItemPro.items.length"
                    add-action="addProItem()" delete-action="deleteProItem(item)" config="config"></tr>
            </table>
        </div>
    </td>
    <td class="item-5">
        <div class="searchProItem2">
            <a class="text-red btn icon ion-close-round" ng-show="searchItemTotalPro > 1" ng-click="deleteAction()" style="box-shadow:1px 1px 5px #ccc;"></a>
        </div>
    </td>
</tr>